<div class="news block">

  <h1>{{title}}</h1>

  {{#each news as |item|}}
    <div class="news-item">
      <a href="{{item.url}}">{{item.title}}</a>
      <div class="date-time">{{date-time item.timestamp}}</div>
    </div>
  {{/each}}

</div>