<div id="my-workbench" class="block">

  <h1>My Workbench</h1>

  <h4>Next year Economic model</h4>

  <p>
    {{#each economic in economics}}
      <b>{{economic.title}}:</b> {{economic.value}}%<br>
    {{/each}}
  </p>

</div>