body {
  font-family: Arial;
  color: dimgray;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

#title {
  background-color: #189288;
  margin: 0 0 20px 0;
  padding: 30px 10px;
  color: white;
  font-weight: normal;
}

a {
  font-style: italic;
  padding: 2px;
  color: gray;
  text-decoration: none;
  border-bottom: 2px solid gray;
}

.block {
  float: left;
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
}

.block h1 {
  font-weight: normal;
  color: #189288;
}

.block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news {
  width: 400px;
}

.news-item {
  padding: 15px;
}

.date-time {
  float: right;
  color: silver;
  font-size: 80%;
}